* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}

body {
    background-color: #080808;
    color: #fff;
 }

 #header{
    width: 100%; /*para q ocupe el 100% de capacidad de anchura*/
    height: 100vh; /*el encabezado ocupara toda la altura visible del área del navegador en la pantalla del usuario*/
    background-image: url(material/OIG.png);
    background-size: cover;
    background-position: center;
 }
.container{
    padding: 10px 10%;
}

.logo{
    width: 140px;
}

nav{
    display: flex; /*hace que el contenido de "nav" sea flexible de editar*/
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /*para que los elementos se "envuelvan". si no hay espacio, se ponen uno encima de otro*/
}

nav ul li{
    display: inline-block; /*sirve para poner las 4 secciones en horizontal*/
    list-style: none; /*sirve para eliminar vinetas*/
    margin: 10px 20px; /*el (10px) es margen de arriba y abajo, y (20px) de izquierda y derecha*/
}

nav ul li a{
    color: #fff;
    text-decoration: none; /*se le quite el subrayado al texto*/
    font: 18px;
    position: relative; /* Establece la posicion relativa para los enlaces. */
}

nav ul li a::after {
    content: ''; /* Agrega un contenido pseudo antes o despues del contenido del enlace. En este caso, después (::after). */
    width: 0; /* Inicialmente, el ancho es 0. */
    height: 3px; /* Establece la altura de la barra subrayada en 3 pixeles. */
    background: #b3ff02; /* Establece el color de fondo de la barra subrayada en un tono de rosa (#ff004f). */
    position: absolute; /* Establece la posicion absoluta para la barra subrayada. */
    left: 0; /* La barra subrayada comienza desde el borde izquierdo del enlace. */
    bottom: -6px; /* La barra subrayada esta 6 pixeles por debajo del texto del enlace. */
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    color: #b3ff02;
}